.c_back{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.c_back_top{
	width: 100%;
	height: 71.6%;
	background: url('../images/background/c_background_top.png') no-repeat;
	background-size: 100% 100%;
}
.c_back_middle{
	width: 100%;
	height: 13.1%;
	background: url('../images/background/c_background_middle.png') no-repeat;
	background-size: 100% 100%;
}
.c_back_bottom{
	width: 100%;
	height: 15.3%;
	background: url('../images/background/c_background_bottom.png') no-repeat;
	background-size: 100% 100%;
}
.girl{
	width: 151px;
	height: 291px;
	position: absolute;
	right: 40%;
	top: 37%;
	background: url('../images/girl.png') -755px 0px no-repeat;
}

.bridge-bottom {
    position: absolute;
    width: 43.77%;
    height: 23.3%;
    left: 28.69%;
    top: 76%;
    overflow: hidden;
    /*    -webkit-transform:perspective(8px) rotateX(.8deg); */
}
.water{
	width: 100%;
	height: 100%;
}
.water1,
.water2,
.water3,
.water4 {
	animation: shake;
	animation-duration: 40s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.water1{
	position: absolute;
	width: 131px;
	height: 15px;
	top: 13%;
	left: 35%;
	background: url('../images/原图/water1.png') no-repeat;
}
.water2{
	position: absolute;
	width: 161px;
	height: 9px;
	top: 30%;
	left: 45%;
	background: url('../images/原图/water2.png') no-repeat;
	animation-delay: 3s;
}
.water3{
	position: absolute;
	width: 261px;
	height: 27px;
	top: 50%;
	left: 15%;
	background: url('../images/原图/water3.png') no-repeat;
	animation-delay: 1s;
}
.water4{
	position: absolute;
	width: 301px;
	height: 12px;
	top: 75%;
	left: 30%;
	background: url('../images/原图/water4.png') no-repeat;
	animation-delay: 2s;
}


@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(30px, 0px, 0);
    }
}

/*星星*/

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
}

.stars > li {
	width: 30px;
    height: 31px;
    position: absolute;
    background: url("../images/stars.png") no-repeat;
    animation:flash 5s ease-in-out infinite alternate;
}

.stars1 {
    top: 20%;
    left: 30%;
}

.stars2 {
    top: 15%;
    left: 20%;
}

.stars3 {
    top: 25%;
    left: 85%;
}

.stars4 {
    top: 30%;
    left: 70%;
}

.stars5 {
    top: 25%;
    left: 20%;
}

.stars6 {
    top: 10%;
    left: 65%;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}


.girl-rotate {
    animation-name: girl-rotate;
    animation-duration: 850ms;
    animation-iteration-count: 1;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
}

@keyframes girl-rotate {
    0% {
        background-position: -604px -0px;
    }
    16.7% {
        background-position: -151px -0px;
    }
    33.4% {
        background-position: -906px -0px;
    }
    50.1% {
        background-position: -0px -0px;
    }
    66.8% {
        background-position: -302px -0px;
    }
    83.5% {
        background-position: -453px -0px;
    }
    100% {
        background-position: -604px -0px;
    }
}


.logo{
	width: 185px;
	height: 81px;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -92.5px;
	z-index: 999999;
	background: url('../images/logo.png') no-repeat;
	display: none;
}
.lightSpeedIn{
	display: block;
	animation:lightSpeedIn ease-out 1s ;
}
.logoshake{
	animation:logoshake 0.5s;
}
@keyframes lightSpeedIn {
    0% {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}



@keyframes logoshake {
    /* 补充代码使logo产生左右晃动效果 */ 
    0%, 100% {
    transform: translate3d(0, 0, 0);
}

30%,
70%
{
    transform: translate3d(-5px, 0, 0);
}
50%
{
    transform: translate3d(10px, 0, 0);
}
}

#snowflake {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.snowRoll {
    animation-name: mysnow;
    animation-duration: 20s;
}

@keyframes mysnow {
    0% {
        bottom: 100%;
    }
    50% {
        -webkit-transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}